*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d2d2d2c1 url(/imagens/fundo.png);
    font-family: 'Times New Roman', Times, serif;
}

#header{
    display: flex;
    flex-direction: column;
}

.links{
    background-color:#d4d3be;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

a{
    color: #657075;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

.corpo{
    width: 883px;
    background: #fdfbed;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    color:#7b888e;
    margin: 20px;
}
.text{
    margin: 10px;
}
.imagem{
    height: 300px;
    width: 400px;
    border: solid 5px #d4d3be;
    
}
#footer{
    color: #dddacc ;
    background: #86856f;
    width: 903px;
    height: 4em;
    text-align: center;
}
.dir{
    padding-top: 21px;
}

a:hover{
    background: #aca997;
}